<!-- Adding layouts-->
<%- include("header"); -%>   

    <div class="box" id="heading">
        <h1><%=listTitle%></h1>
    </div>

    <div class="box">
        <!--every new item in newListItems array makes a new <li> -->
        <%for(var i = 0; i < newListItems.length; i++){%>  
            <div class="item">
                <input type="checkbox">
                <p><%=newListItems[i]%></p>  <!--rendered intem is places between-->
            </div>
        <%}%>
        <form class="item" action="/" method="post">   <!--form has a method post so item entered in text can be rendered-->
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value = <%= listTitle %> >+</button>
        </form>
    </div>

    <%- include("footer"); -%>